div{
    
    margin: 10px;
}
.row{
    display: flex;
}
.col{
    background-color: blanchedalmond;
    margin: 10px;
    padding: 10px;
    flex: 1;
}
.col2{
    background-color: blanchedalmond;
    margin: 10px;
    padding: 10px;
    flex: 2;
}
.col3{
    background-color: blanchedalmond;
    margin: 10px;
    padding: 10px;
    flex: 3;
}